@using Microsoft.AspNetCore.Components.Authorization
@switch (_viewState) {

	case ViewState.AuthenticationPath:
		<RouteView RouteData="@RouteData" DefaultLayout="@ResolvedPendingLayout" />
		break;

	case ViewState.Pending:
		<LayoutView Layout="@ResolvedPendingLayout">
			@if (!UserState.IsAuthenticated) {
				<RedirectToLogin LoginPath="@LoginPath" LoginHint="@LoginHint" Prompt="@OidcPrompt" />
			}
		</LayoutView>
		break;

	case ViewState.NotProvisioned:
		@if (NotProvisioned is not null) {
			@NotProvisioned
		} else {
			<LayoutView Layout="@ResolvedPendingLayout">
				<div class="alert alert-warning">Your account has not been provisioned for this application.</div>
			</LayoutView>
		}
		break;

	case ViewState.Disabled:
		@if (Disabled is not null) {
			@Disabled
		} else {
			<LayoutView Layout="@ResolvedPendingLayout">
				<div class="alert alert-warning">Your account has been disabled. Contact your administrator for assistance.</div>
			</LayoutView>
		}
		break;

	case ViewState.Ready:
		@if (_useAuthorizedRouting) {
			<AuthorizeRouteView RouteData="@RouteData" DefaultLayout="@DefaultLayout">
				<NotAuthorized>
					@if (NotAuthorizedContent is not null) {
						@NotAuthorizedContent
					} else {
						<RedirectToLogin LoginPath="@LoginPath" LoginHint="@LoginHint" Prompt="@OidcPrompt" />
					}
				</NotAuthorized>
			</AuthorizeRouteView>
		} else {
			<RouteView RouteData="@RouteData" DefaultLayout="@DefaultLayout" />
		}
		break;

}